h1.logo {
    font-family: Verdana, sans-serif;
    font-size: 40px;
    padding-top: 8px;
}

body, div.body {
    background-color: #f4f2ef;
}

div.body {
    color: #28241d;
}

div.note {
    background-color: #d1cdc7;
    border-color: #8c8476;
}

.highlight {
    /*background-color: #FAF3E8;*/
    background-color: #fffaf1;
}

code {
    /*background-color: #ecf0f3;*/
    background-color: #fff;
}

a {
    color: #07797f;
}
a:visited {
    color: #63004c;
}

.bodywrapper a.reference:visited {
    border-bottom-color: #63004c;
}
